// import utilidades
 @import "utilidades/variables";
 @import "utilidades/mixin.scss";
 
 // import componentes
 @import "componentes/mq";
 @import "componentes/pseudoclases";
 @import "componentes/bootstrap";

//import paginas-scss
 @import "paginas-scss/header";
 @import "paginas-scss/body";
 @import "paginas-scss/main";
@import "paginas-scss/section";
@import "paginas-scss/footer";
@import "paginas-scss/reset";

 

.box{
    width:100px;
    height: 100px;
    border-radius: 4px solid white;
    background: $color-blue-violet;
    animation-name: change-color;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box{
    &:hover{
        background: $hover-color;
    }
}

@keyframes change-color{
 0% {
    background: $hover-color;
 }
 25%{
    background: green;
 }
 75%{
    background: indigo;
 }

 100%{
      background: red;
    }

}



 

 



 

