//header
header {
    background-color: $bg-color;
    margin:10px 10px;
    
    box-shadow: 5px 5px 10px $box-shadow;

    
   
  
    
    
    nav{
        ul {
            display: grid;
            list-style: none;
            text-decoration: none;
            gap: 5%; 
            justify-content: space-between;
            li{
                a{
                    color: $color-ul-a;
                    list-style: none;
                    text-decoration: none;

                    &:hover {
                        background-color: $hover-color;
                        text-shadow: $text-shadow;
                        color: $color-primario;
                        font-size: 16px;
                    }

                }
            }
        }
    }
 }

