/* estilos de section */
section{
    background-color: $bg-color;
    color: $color-primario;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 5px 5px 15px $box-shadow;

 }