$bg-color: #f5f5f5;
$body-color: #000000;
$body-bg-color: #8a2be2;
$box-shadow: #f5f5f5;
$color-ul-a: #f5f5f5;
$color-primario: #000000;
$color-secundario: #f5f5f5;
$color-blue-violet: #8a2be2;
$bootstrap-bg: #8a2be2;
$footer-color: #000000;
$hover-color: #8a2be2;
$text-shadow: #f5f5f5;

// footer

$color-linea-uno: ( 270deg, rgb(0, 0, 128) 0%,rgb(74,116,1) 22%,rgb(9,92,144) 48%,rgba(2,158,255,1) 58%,rgb(19,49,131) 84%,rgba(1,129,14) 100% ); 

$color-linea-dos:( 90deg, rgb(0, 0, 128)0%,rgb(74,116,1) 22%,rgb(9,92,144) 48%,rgba(2,158,255,1) 58%,rgb(19,49,131) 84%,rgb(1,129,14) 100% ); 

$color-linea-tres:( 90deg,rgb(0, 0, 128)0%,rgb(74,116,1) 22%,rgb(9,92,144) 48%,rgba(2,158,255,1) 58%,rgb(19,49,131) 84%,rgb(1,129,14) 100% );

$color-linea-cuatro:( 90deg,rgb(0, 0, 128)0%,rgb(74,116,1) 22%,rgb(9,92,144) 48%,rgba(2,158,255,1) 58%,rgb(19,49,131) 84%,rgb(1,129,14) 100% );

$color-linea-cinco: ( 90deg,rgb(0, 0, 128)0%,rgb(74,116,1) 22%,rgb(9,92,144) 48%,rgba(2,158,255,1) 58%,rgb(19,49,131) 84%,rgb(1,129,14) 100% ); ;
